.footer
    br
    hr
    div(style='margin-left: 2vw; font-size: 1vw;')
        | 191015 Санкт-Петербург, ул Кирочная, д. 54
        br
        |  тел. +7 (812) 275-21-24
        br
        |  sch163.centr@obr.gov.spb.ru
    div(align='right' style='margin-right: 2vw; font-size: 1vw;')
        div
        | Icons made by 
        a(href='https://www.freepik.com' title='Freepik') Freepik
        |  from 
        a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
    br


script.
  rickrollEasterEggHide()