meta(charset='utf-8')
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
link(rel='stylesheet' type='text/css' href=host+'static/css/style.css')
link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
link(rel='stylesheet' type='text/css' href=host+'static/css/flip-card.css')
link(type='image/png' sizes='512x512' rel='icon' href=host+'static/img/LogoMini-512x512.png')
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

- var fa_group = "<i class=\"fa fa-group\" style=\"color: black!important;\"></i>"
- var fa_word_file = "<i class=\"fa fa-file-word-o\" style=\"color: black!important;\"></i>"
- var fa_powerpoint_file = "<i class=\"fa fa-file-powerpoint-o\" style=\"color: black!important;\"></i>"
- var fa_pdf_file = "<i class=\"fa fa-file-pdf-o\" style=\"color: black!important;\"></i>"
- var fa_excel_file = "<i class=\"fa fa-file-excel-o\" style=\"color: black!important;\"></i>"
- var fa_archive_file = "<i class=\"fa fa-file-archive-o\" style=\"color: black!important;\"></i>"
- var fa_star = "<i class=\"fa fa-star\" style=\"color: black!important;\"></i>"
- var fa_close = "<i class=\"fa fa-close\" style=\"color: black!important;\"></i>"
- var fa_close_3x = "<i class=\"fa fa-2x fa-close\" style=\"color: black!important;\"></i>"
- var fa_arrow_left = "<i class=\"fa fa-arrow-left\" style=\"color: black!important;\"></i>"