div(style='background: white; top: 0; height: auto; width: 98.85vw; z-index: 2;')
  header(style='padding-top: 2.3vh!important; padding-bottom: 0.9vh!important;' class='d-flex py-3')
    a(href='/' style='margin-left: 1vw; margin-right: 1.5vw; margin-top: -1.1vh;')
      img(style="width: 7vw;" align='center' src=host+'static/img/Logo2.png')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 1.08vw;')
      li.nav-item
        if sectionTitle == 'index'
          a.nav-link-edit.nav-link.active(href='/' aria-current='page') Главная
        else
          a.nav-link-edit.nav-link(href='/') Главная

      li.nav-item
        if sectionTitle == 'about'
          a.nav-link-edit.nav-link.active(href='about' aria-current='page') О школе
        else
          a.nav-link-edit.nav-link(href='about') О школе

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Новости

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Учеба

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Жизнь

      li.nav-item
        if sectionTitle == 'persons'
          a.nav-link-edit.nav-link.active(href='/persons/administration' aria-current='page') Персоналии
        else
          a.nav-link-edit.nav-link(href='/persons/administration') Персоналии

      li.nav-item
        a.nav-link-edit.nav-link(href='#') История

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Учителям

      li.nav-item
        a.nav-link-edit.nav-link(href='#') Сведения об ОО
    

    div(style='display: flex; justify-content: right; width: 22vw; margin-top: -1.2vh; align-items: center;')
      a(href='javascript:feedbackShow()')
        img(style="height: 4vh; padding-left: 1.5vw;" title='Напишите нам' src=host+'static/img/feedback.png')
      a(href='/search')
        img(style="height: 4vh; padding-left: 1.5vw;" src=host+'static/img/search.png')

      



include feedback.pug
