doctype html
head
  include ./components/head.pug
  title Официальный сайт 163 школы Санкт-Петербурга



include ./components/navbar.pug



.place1(style='margin: 6vh 12vw 0vh 12vw; padding: 2vh 2vw 2vh 2vw')
  p(style="font-size: 4vw; text-align: center;") Страница не найдена
  p(style='text-align: center; padding-top: 5vh;')
    img(src=host+'/static/img/error-404.png' style='width: 20vw;')



include ./components/footer.pug