include ./../components/person-card.pug



doctype html
head
  include ./../components/head.pug
  title Администрация - Официальный сайт 163 школы Санкт-Петербурга



include ./../components/navbar.pug
.subnavbar
  header(style='padding-top: 2vh!important; padding-bottom: 2vh!important;' class='d-flex py-3')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 0.9vw; margin-left: 1vw;')
      li.nav-item
        a.sub-nav-link-edit.nav-link.active(href='/persons/administration' aria-current='page') Администрация
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers') Учителя
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Педагоги ОДОД
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Социальный педагог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Психолог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='') Логопед


a(name="director")
.place1.position-title(style='width: 22vw; height: 9vh;')
  | Директор школы

+person-card('director')



a(name="ass_director")
.place1.position-title(style='width: 28vw; height: 9vh;')
  | Заместители директора

+person-card('ass_director')



a(name="manager")
.place1.position-title(style='width: 50vw; height: 9vh;')
  | Руководители структурных подразделений

+person-card('manager')



include ./../components/footer.pug