include ./../components/person-card.pug



doctype html
head
  include ./../components/head.pug
  title Учителя - Официальный сайт 163 школы Санкт-Петербурга



include ./../components/navbar.pug
.subnavbar
  header(style='padding-top: 2vh!important; padding-bottom: 2vh!important;' class='d-flex py-3')
    ul.nav.nav-pills(style='font-weight: bold; font-size: 0.9vw; margin-left: 1vw;')
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/administration') Администрация
      li.nav-item
        a.sub-nav-link-edit.nav-link.active(href='/persons/teachers' aria-current='page') Учителя
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/teachers-odod') Педагоги ОДОД
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='/persons/social-pedagogue') Социальный педагог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='#') Психолог
      li.nav-item
        a.sub-nav-link-edit.nav-link(href='') Логопед



.place1.position-title(style='width: 23vw;')
  | Начальная школа

+person-card('primary')



.place1.position-title(style='width: 33vw;')
  | Русский язык и литература

+person-card('rus_and_liter')



.place1.position-title(style='width: 18vw;')
  | Математика

+person-card('math')



.place1.position-title(style='width: 12vw;')
  | Физика

+person-card('physics')



.place1.position-title(style='width: 12vw;')
  | Химия

+person-card('chemistry')



.place1.position-title(style='width: 10vw;')
  | ОБЖ

+person-card('obzh')



.place1.position-title(style='width: 19vw;')
  | Информатика

+person-card('it')



.place1.position-title(style='width: 27vw;')
  | География и биология

+person-card('geo_and_bio')



.place1.position-title(style='width: 21vw;')
  | Английский язык

+person-card('english')



.place1.position-title(style='width: 32vw;')
  | История и обществознание

+person-card('history_and_social')



.place1.position-title(style='width: 17vw;')
  | Физкультура

+person-card('sport')



.place1.position-title(style='width: 13vw;')
  | Музыка

+person-card('music')



.place1.position-title(style='width: 33vw;')
  | Изобразительное искусство

+person-card('art')



.place1.position-title(style='width: 16vw;')
  | Технология

+person-card('technology')




include ./../components/footer.pug